.puzzle {
  min-height: 200px;
  display: none;
  letter-spacing: 5px;
  font-size: 30px;
  transform: translateY(-50%);
  &__resetButton {
    height: 100px;
    width: 100px;
    border: orange solid 5px;
  }
  &__text {
    opacity: 0;
    transition: 1s all ease-out;
  }
  &__text--active {
    opacity: 1;
  }
}
.puzzle--active {
  display: block;
  animation: showUp 1s forwards;
  animation-iteration-count: 1;
  span {
    display: inline-block;
    min-width: 10px;
    animation: letterJump cubic-bezier(0.42, -1.03, 0.34, 1.54) forwards 1 0.3s;
    @for $i from 1 through 99 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}
[data-jump="false"] {
  span {
    animation: none;
  }
}
@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
@keyframes letterJump {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
