.puzzle {
  min-height: 200px;
  display: none;
  letter-spacing: 5px;
  font-size: 30px;
  transform: translateY(-50%);
  &__resetButton {
    height: 100px;
    width: 100px;
    border: orange solid 5px;
  }
}
.puzzle--active {
  display: block;
  animation: showUp 1s forwards;
  animation-iteration-count: 1;
}
.jump {
  transition: all 1s ease;
  transform: translateY(100%);
}
@keyframes showUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}
